<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Annonces
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div *ngIf="(positionState$ | async) && (positionState$ | async).loading">
        <p style="text-align: center">Localisation en cours... <ion-spinner></ion-spinner></p>
    </div>
    <div *ngIf="(positionState$ | async) && (positionState$ | async).loaded">
        <p style="text-align: center">Position: {{((positionState$ | async).coords | json)}}</p>
    </div>
    <div *ngIf="(positionState$ | async) && (positionState$ | async).error">
        <p style="text-align: center">Erreur: {{((positionState$ | async).error | json)}}</p>
    </div>

    <div *ngIf="(positionState$ | async) && !(positionState$ | async).loading && (adsLoading$ | async)">
        <p style="text-align: center">Récupération des annonces... <ion-spinner></ion-spinner></p>
    </div>

    <div *ngIf="(positionState$ | async) && !(positionState$ | async).loading && (adsIsSorting$ | async)">
        <p style="text-align: center">Tri de la liste e cours en fonction de votre localisation <ion-spinner></ion-spinner></p>
    </div>

    <app-ad-list *ngIf="(adList$ | async).length" [ads]="(adList$ | async)"></app-ad-list>


</ion-content>
