<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Annonces
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div *ngIf="(positionState$ | async) && (positionState$ | async).loading">
        <p style="text-align: center">Localisation en cours... <ion-spinner></ion-spinner></p>
    </div>
    <div *ngIf="(positionState$ | async) && (positionState$ | async).loaded">
        <p style="text-align: center">Position: {{((positionState$ | async).coords | json)}}</p>
    </div>
    <div *ngIf="(positionState$ | async) && (positionState$ | async).error">
        <p style="text-align: center">Erreur: {{((positionState$ | async).error | json)}}</p>
    </div>

    <app-ad-list [ads]="adList"></app-ad-list>

</ion-content>
