div {
  div {
    p {
      text-align: center;
      &.msg-error {
        color:red;
      }
    }
  }

}

.wrapper {
  overflow: auto;
}

//https://css-tricks.com/centering-css-complete-guide/#center-vertically
.container {
  height: 100%;
  position: relative;
}
.vertical-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.emptyMsg {
  text-align: center;
  color: lightgray;
}
