<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Annonces
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <app-toast #errorToast type="error"></app-toast>
    <app-toast #infoToast></app-toast>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <app-ad-list *ngIf="(adList$ | async).length" [ads]="(adList$ | async)"></app-ad-list>

</ion-content>
